
<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/" style="color: white;">
     
      <span class="logo-text">HEALTHVAULTPRO</span>
    </a>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Kezdőlap</a></li>
    <li><a routerLink="/about">Rólunk</a></li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Szolgáltatások</a>
      <div class="dropdown-content">
        <a routerLink="/services">fogtömés</a>
        <a routerLink="/services">fogfehérítés</a>
        <a routerLink="/services">gyökérkezelés</a>
        <!-- További lenyíló menüpontokat itt adhatsz hozzá -->
      </div>
    </li>
    <li><a routerLink="/learn-more">Tudj meg többet</a></li>
    <li><a routerLink="/blog">Blog</a></li>
  </ul>
</nav>

<!-- Bemutató szöveg a főoldalon -->
<table>
  <tr>
    <td>
      <div class="main-content">
        <h1>Üdvözöljük a fogorvosi oldalunkon!</h1>
<div class="fooldalkep">
  <img src="assets/fooldal.jpg" alt="Főoldal kép">
</div>
        <p>
          A mosoly az egészség jele! Rendelőnkben arra törekszünk, hogy minden páciensünk
          mindig ragyogó és egészséges mosollyal távozzon. Kiváló szakembereink elkötelezettek
          a legmagasabb színvonalú fogorvosi ellátás nyújtásában, hogy biztosítsuk Önnek és
          családjának a legjobb kezelést és gondoskodást.
          Modern fogászati technológiáink segítségével fájdalommentes és hatékony
          fogorvosi beavatkozásokat biztosítunk. Széleskörű szolgáltatásaink között
          szerepel a fogtömés, fogfehérítés, gyökérkezelés és még számos egyéb
          specializált kezelés, amelyek segítenek Önnek elérni a kívánt szájhigiéniai
          állapotot. 
          Fogorvosi rendelőnk barátságos és kényelmes környezetet kínál minden
          páciensünknek. Ha bármilyen kérdése van, vagy szüksége van tanácsra,
          ne habozzon felvenni velünk a kapcsolatot. Örömmel segítünk és válaszolunk
          minden érdeklődésre.
          Köszönjük, hogy minket választott, és reméljük, hogy hamarosan találkozunk
          rendelőnkben. Egészséges mosoly, egészséges élet!
        </p>
      </div>
    </td>
  </tr>
