/* Globális stílusok */
body {
    font-family: 'Arial', sans-serif; /* Betűtípus és család beállítása */
    margin: 0; /* Oldal margóinak beállítása */
}

/* Navbar stílusok */
.navbar {
    background-color: #2c3e50; /* Háttérszín beállítása */
    padding: 20px; /* Belső tér kitöltése */
    display: flex; /* Flex kialakítása */
    justify-content: space-between; /* Elemek közötti térköz egyenletes eloszlása */
    align-items: center; /* Elemek középre igazítása */
}

.navbar-logo img {
    max-width: 50px; /* Kép maximális szélessége */
    height: auto; /* Automatikus magasság beállítása */
    margin-right: 10px; /* Jobb oldali margó beállítása */
    opacity: 0.8; /* Átlátszóság beállítása */
    transition: opacity 0.3s; /* Áttűnés animáció beállítása */
}

.navbar-logo img:hover {
    opacity: 1; /* Átlátszóság növelése hover állapotban */
}

.navbar-links {
    list-style-type: none; /* Felsorolásjel típusának eltávolítása */
    display: flex; /* Flex kialakítása */
    gap: 20px; /* Elemek közötti térköz beállítása */
}

.navbar-links li, .navbar-links a, .dropbtn {
    color: #ecf0f1; /* Szöveg színének beállítása */
    font-weight: bold; /* Betűtípus vastagságának beállítása */
    text-decoration: none; /* Aláhúzás eltávolítása */
}

.navbar-links a, .dropbtn {
    padding: 15px; /* Belső tér kitöltése */
    border-radius: 8px; /* Kerületi lekerekítés beállítása */
    transition: background-color 0.3s, color 0.3s; /* Háttérszín és szövegszín animáció beállítása */
}

.navbar-links a:hover, .dropdown-content a:hover {
    background-color: #3498db; /* Háttérszín beállítása hover állapotban */
    color: white; /* Szöveg színének beállítása hover állapotban */
}

/* Dropdown stílusok */
.dropdown {
    position: relative; /* Elhelyezkedési mód beállítása */
    display: inline-block; /* Inline blokkként való megjelenítés */
}

.dropdown-content {
    display: none; /* Megjelenítés kikapcsolása */
    position: absolute; /* Elhelyezkedési mód beállítása */
    background-color: #2c3e50; /* Háttérszín beállítása */
    min-width: 160px; /* Minimális szélesség beállítása */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Árnyék beállítása */
    z-index: 1; /* Z-index beállítása */
}

.dropdown-content a {
    color: white; /* Szöveg színének beállítása */
    padding: 15px; /* Belső tér kitöltése */
    text-decoration: none; /* Aláhúzás eltávolítása */
    display: block; /* Blokk formátum beállítása */
}

.dropdown:hover .dropdown-content {
    display: block; /* Megjelenítés bekapcsolása hover állapotban */
}

/* Fő tartalom stílusok */
.main-content {
    max-width: 800px; /* Maximális szélesség beállítása */
    margin: 20px auto; /* Margók beállítása */
    padding: 20px; /* Belső tér kitöltése */
    text-align: left; /* Szöveg igazítása balra */
}

.main-content h1 {
    font-size: 2.5em; /* Címméret beállítása */
    color: #2c3e50; /* Cím szöveg színének beállítása */
    text-align: left; /* Szöveg igazítása balra */
}

.main-content p {
    font-size: 1.2em; /* Betűméret beállítása */
    color: #34495e; /* Szöveg színének beállítása */
    line-height: 1.5; /* Sorok közötti távolság beállítása */
    text-align: left; /* Szöveg igazítása balra */
}

/* Új stílus a képhez */
/* Új stílus a képhez */
.fooldalkep {
    position: fixed; /* Fix pozíció beállítása, az oldalsó szélhez rögzítve */
    right: 0; /* Jobb oldalra igazítás */
    top: 6em; /* Felső széléhez igazítás */
    margin-top: 1em; /* Felső margó beállítása (opcionális) */
}

.fooldalkep img {
    max-width: 30vw; /* A kép maximális szélessége a képernyő szélességének 30%-a */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Árnyék beállítása */
}



/* Responszív kialakítás */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Elemek elrendezésének váltása oszloposra mobil nézetben */
        align-items: stretch; /* Elemek teljes szélességűvé tétele mobil nézetben */
    }

    .navbar-links, .dropdown-content a {
        flex-direction: column; /* Elemek elrendezésének váltása oszloposra mobil nézetben */
        gap: 10px; /* Elemek közötti térköz beállítása mobil nézetben */
    }

    .navbar-links a, .dropdown-content a {
        padding: 10px; /* Belső tér kitöltése mobil nézetben */
    }
}